<html lang="en">

  <head>
    {{! <script
      src="https://kit.fontawesome.com/02995bb42f.js"
      crossorigin="anonymous"
    ></script> }}
    <script>window.onbeforeunload = function () { window.scrollTo(0, 0); }</script>
    <script>
      function reveal() { var reveals = document.querySelectorAll(".mdl-card");
      for (var i = 0; i < reveals.length; i++) { var windowHeight =
      window.innerHeight; var elementTop = window.scrollY ;var elementVisible =
      10; if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active"); } else {
      reveals[i].classList.remove("active"); } } }
      window.addEventListener("scroll", reveal);
    </script>
    <script>
      function reveal2() { var reveals = document.querySelectorAll("header");
      for (var i = 0; i < reveals.length; i++) { var windowHeight =
      window.innerHeight; var elementTop =
      reveals[i].getBoundingClientRect().top; var elementVisible = 150; if
      (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active"); } else {
      reveals[i].classList.remove("active"); } } }
      window.addEventListener("scroll", reveal2);
    </script>

    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>InternNet</title>
    <!-- CSS only -->

    <link rel="stylesheet" href="/css/material.css" />
    <link
      rel="stylesheet"
      href="https://rawgit.com/MEYVN-digital/mdl-selectfield/master/mdl-selectfield.min.css"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <style>
      #view-source { position: fixed; display: block; right: 0; bottom: 0;
      margin-right: 40px; margin-bottom: 40px; z-index: 900; }
    </style>
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body
    class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base search"
  >
    <div class="bg"></div>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header
        class="mdl-layout__header mdl-layout__header--waterfall portfolio-header"
      >
        <div class="mdl-layout__header-row portfolio-logo-row">
          <span class="mdl-layout__title">
            <div>
              <img class="main-logo" src="/images/internNet.png" />
            </div>
          </span>

        </div>

      </header>

      {{! <div class="box">
        <form method="GET" name="search">
          <input
            type="text"
            class="input"
            id="query"
            name="q"
            onmouseout="this.value = ''; this.blur();"
          />
        <img class="search" src="/images/search.png"></img>

        </form>

      </div> }}
      <div class="search-ribbon">
        <form method="GET">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          >
            <input
              class="mdl-textfield__input query-input"
              type="text"
              id="query"
              name="q"
            />
            <label class="mdl-textfield__label" for="query">What</label>
          </div>
          <button
            type="submit"
            class="mdl-button query-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
          >
            Search Jobs
          </button>

        </form>
      </div>
      <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width query-body">
          {{#each jobs}}
            <a href="{{this.link}}">

              <div
                class="mdl-cell mdl-card mdl-cell mdl-shadow--4dp portfolio-card"
              >
                {{! <div class="mdl-card__media"></div> }}
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">
                    {{this.company}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Position:
                  {{this.title}}
                </div>
                <div class="mdl-card__supporting-text">
                  Location:
                  {{this.location}}
                </div>
                <div class="mdl-card__supporting-text">
                  Description:
                  {{this.desc}}
                </div>
                <div class="mdl-card__supporting-text">
                  Salary:
                  {{this.salary}}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a
                    class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                    href="{{this.link}}"
                  >Read more</a>
                </div>
              </div>
            </a>
          {{/each}}
        </div>

      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Developed By : Karim Jabbour, Julia Xu, Xiong
            Zhixin
          </div>
        </div>
        <div class="mdl-mini-footer__right-section">
          <ul class="mdl-mini-footer__link-list">
            <li>
              <a
                href="https://github.com/KarimJabbour/InternNet"
                style="position: relative; right: 10px;"
              >GitHub Link</a>
            </li>

          </ul>
        </div>
      </footer>
    </div>

    <script src="/js/material.js"></script>

    <script src="/js/axios.js"></script>
    <script
      src="https://rawgit.com/MEYVN-digital/mdl-selectfield/master/mdl-selectfield.min.js"
    ></script>

  </body>

</html>